/*design for tab buttons*/ 
input[type=submit]{
     background:#ebac33;
     color:white;
     border-style:outset;
     border-color:#f4d48f;
     height:50px;
     width:100px;
     font:bold40px arial,sans-serif;
     text-shadow:none;

}
/* home tab*/ 
#wrapper {
	margin:0 auto;
	width:1080px;
	float: center;
	position:relative;
	}
#cards {
	margin:0 auto;
	width:1080px;
	float: center;
	position:relative;
	}

.home{
	margin-left:35px;
	width:200px;
	float: left;
	padding-top: 40px;
    display:inline-block;
}
/* about tab*/ 
.about{
	width:200px;
	float: left;
	padding-top: 40px;

   display:inline-block;
}
/* tasty bites logo*/ 
.logo{
	float: left;
	width:210px;
	height:190px;
	display:inline-block;
}

/*recipe tab */ 
.recipes {
	width:200px;
  padding-top: 40px;
  display: inline-block;
  float: left;
  margin-left:80px;


}
/* design for dropdown content*/ 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f4d48f;
  min-width: 68px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}



/* dropdown hover*/ 
.recipes:hover .dropdown-content {
  display: block;
}

/* dropdown hover*/ 
.dropdown-content a:hover {
	background-color: #ebdecf
	}

/* dropdown hover*/ 
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

/* food tab*/ 
.foodTips{
	margin-right: 45px;
	float: left;
	padding-top: 40px;
	
	display:inline-block;
}

.h1{
	padding-top: 170px;
	 text-align: center;
	 
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 150px;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row1 {
	margin-left:200px;
      padding-bottom:20px;
	  float:center;
}
.row2 {
	margin-left:200px;
      padding-bottom:20px;
	  float:center;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

  .column {

    display: block;
    margin-bottom: 20px;
  }


/* Style the counter cards */
.card {
	
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
    transition: 0.5s;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}