/*design for tab buttons*/ 
input[type=submit]{
     background:#ebac33;
     color:white;
     border-style:outset;
     border-color:#f4d48f;
     height:50px;
     width:100px;
     font:bold40px arial,sans-serif;
     text-shadow:none;
}
/* home tab*/ 
.home{
	float: left;
	padding-top: 40px;
    width: 200px;
	margin-left: 125px
}
/* about tab*/ 
.about{
	float: left;
	padding-top: 40px;
	width: 190px;

}

/*recipe tab */ 
.recipes {
	margin-left: 80px;
	padding-top: 40px;
  position: relative;
  display: inline-block;
  float: left;
  width: 210px;

}
/* design for dropdown content*/ 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f4d48f;
  min-width: 68px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

/* tasty bites logo*/ 
.logo{
	float: left;
	width:210px;
	height:190px;
	
}

/* dropdown hover*/ 
.recipes:hover .dropdown-content {
  display: block;
}

/* dropdown hover*/ 
.dropdown-content a:hover {
	background-color: #ebdecf
	}

/* dropdown hover*/ 
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

/* food tab*/ 
.foodTips{
	float: left;
	padding-top: 40px;
	width: 215px;
	
}