
	
/* cards styling*/ 	
#cards {
	margin:0 auto;
	width:1080px;
	float: center;
	position:relative;
	}


.h1{
	padding-top: 170px;
	 text-align: center;
	 
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float 5 columns side by side */
.column {
  float: left;
  width: 150px;
  padding: 0 10px;
}

.row1 {
	margin-left:180px;
      padding-bottom:20px;
	  float:center;
}
.row2 {
	margin-left:180px;
      padding-bottom:20px;
	  float:center;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

  .column {

    display: block;
    margin-bottom: 20px;
  }


/* Styling the cards */
.card {
	
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
    transition: 0.5s;
	
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.container {
  padding: 2px 16px;
}